html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.homepage {
    background-color: rgb(227, 146, 227);
    font-family: "Great Vibes", sans-serif;
}

.main_title {
    text-align: center;
    font-size: 48px;
}

.recipe_container {
    text-align: center;
    background-color: rgb(255, 227, 194);
}

.recipe_list {
    display: inline-block;
    text-align: left;
    font-size: 18px;
}

.recipe_page {
    background-color: rgb(255, 227, 194);
}