html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    /*account for browser defaults*/
    margin: 0;
    padding: 0;
    border: 0;
}

.homepage {
    background-color: rgb(227, 146, 227);
    font-family: "Great Vibes", sans-serif;
}

.main_title {
    text-align: center;
    font-size: 48px;
    margin: 24px 24px 48px 24px;
}

.recipe_container {
    text-align: center;
    background-color: rgb(255, 227, 194);
    margin: 24px 210px;
    padding: 20px;
    border: 4px solid rgb(0, 0, 0);
}

.recipe_list {
    display: inline-block;
    text-align: center;
    list-style: none;
    font-size: 18px;
}

.recipe_page {
    background-color: rgb(255, 227, 194);
}