.homepage {
    background-color: rgb(227, 146, 227);
    font-family: "Brush Script MT", cursive, sans-serif;
}

.main_title {
    text-align: center;
    font-size: 48px;
}

.recipe_container {
    text-align: center;
}

.recipe_list {
    display: inline-block;
    text-align: left;
    font-size: 18px;
}

.recipe_page {
    background-color: rgb(255, 227, 194);
}